Repository impress-org/givewp-addon-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: exclude src-addon from WPCS
  .phpcs.xml
Due: none

chore: update readme to provide explanation of code structure
  README.md
Due: none

feature: merge back into a single src with distinct domains
  composer.json
  src/Addon/Activation.php
  src/Addon/ActivationBanner.php
  src/Addon/Environment.php
  src/Addon/Language.php
  src/Addon/License.php
  src/Addon/Notices.php
  src/Addon/View.php
  src/Addon/resources/views/public/.gitkeep
  src/Domain/AddonServiceProvider.php
  src/Domain/Assets.php
  src/Domain/Helpers/SettingsPage.php
  src/Domain/SettingsPage.php
  src/Domain/resources/css/admin/give-addon-admin.scss
  src/Domain/resources/css/frontend/give-addon-frontend.scss
  src/Domain/resources/images/.gitkeep
  src/Domain/resources/js/admin/give-addon-admin.js
  src/Domain/resources/js/frontend/give-addon.js
  src/Domain/resources/views/admin/notices/give-inactive.php
  src/Domain/resources/views/admin/notices/give-version-error.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: import classes to base file
  give-addon-boilerplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: rewrite build script in php since we are better at that
  .phpcs.xml
  build.php
  build.sh
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove old src-addon from exclusions
  .phpcs.xml
Due: none

chore: update readme to reflect latest changes
  README.md
Due: none

doc: clean up old header
  README.md
Due: none

Update README to consistently use GiveWP
  README.md
Due: none

fix typos in readme
  README.md
Due: none

chore: add further README instructions
  README.md
Due: none

fix: improve and fix build process
  build.php
  src/Addon/ActivationBanner.php
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: text should be "GiveWP" in notice, not "Give"
  src/Domain/resources/views/admin/notices/give-inactive.php
  src/Domain/resources/views/admin/notices/give-version-error.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: give activation banner error
  src/Domain/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: file paths
  build.php
  give-addon-boilerplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

Revert "fix: give activation banner error"
  src/Domain/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: activation banner error
  src/Domain/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: include activation banner class if is not already loaded
  src/Addon/ActivationBanner.php
Due: npm run lint:textdomain, npm run lint:php:fix

add copy task
  webpack.mix.js
Due: eslint --fix

fix: extract template parameters so they can be used within template
  src/Addon/View.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add ADDON_DOMAIN replacement
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: load domain template
  src/Addon/View.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: constant name
  src/Addon/View.php
Due: npm run lint:textdomain, npm run lint:php:fix

enhancement: Add support for scss .
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: PHPCS exclude entire directory.
  .phpcs.xml
Due: none

refactor: Update PHPCS WP rules for autoloading.
  .phpcs.xml
Due: none

chore: Move PHP linting to composer.
  .lintstagedrc.json
  composer.json
  package.json
Due: prettier --write

chore: use project-wide Babel config
  .babelrc.json
  babel.config.js
Due: prettier --write, eslint --fix

chore: remove addon metadata from package.json
  package.json
Due: prettier --write

chore: remove package.json from addon build files
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: typo in exception
  src/Addon/View.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: typo in notice
  src/Domain/resources/views/admin/notices/give-inactive.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add .distignore
  .distignore
Due: none

chore: Remove build.php after build process.
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Update text_domain placeholder value.
  .phpcs.xml
Due: none

feature: Scaffold uninstall script.
  uninstall.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: scaffold settings link for addon
  src/Addon/Links.php
  src/Domain/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: update to reflect GiveWP coding standards
  .editorconfig
  .eslintignore
  .eslintrc.json
  .huskyrc.json
  .phpcs.xml
  .prettierignore
  .stylelintrc.json
  give-addon-boilerplate.php
  package-lock.json
  package.json
  src/Addon/Activation.php
  src/Addon/ActivationBanner.php
  src/Addon/Environment.php
  src/Addon/Language.php
  src/Addon/License.php
  src/Addon/Notices.php
  src/Addon/View.php
  src/Domain/AddonServiceProvider.php
  src/Domain/Assets.php
  src/Domain/Helpers/SettingsPage.php
  src/Domain/SettingsPage.php
  src/Domain/resources/views/admin/notices/give-inactive.php
  src/Domain/resources/views/admin/notices/give-version-error.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

fix: Update addon name in reame.txt
  build.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update WordPress version constraints.
  readme.txt
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
