Repository impress-org/givewp-addon-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: Update minimum GiveWP version.
  readme.txt
Due: none

feature: add plugin upgrade logic
  give-addon-boilerplate.php
  src/Addon/Activation.php
  src/Addon/Environment.php
  src/Addon/PluginUpgrade.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use correct const
  src/Addon/PluginUpgrade.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: Add pre-release workflow.
  .github/workflows/pre-release.yml
Due: none

chore: Add pre-release workflow to build list.
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Add build script alias
  package.json
Due: prettier --write

wip: Setup unit tests.
  .github/workflows/wordpress.yml
  tests/unit/Domain/ExampleTest.php
  tests/unit/bin/install.sh
  tests/unit/bootstrap.php
  tests/unit/helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Include testing files in build.
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: Update renaming.
  tests/unit/bootstrap.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update renamed class name to match.
  tests/unit/bootstrap.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Update reused workflow.
  .github/workflows/unit-tests.yml
Due: none

chore: Update workflow triggers.
  .github/workflows/unit-tests.yml
Due: none

chore: Remove unecessary plugin uninstall hook.
  tests/unit/bootstrap.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Rename .github folder on build.
  build.php
  github/workflows/pre-release.yml
  github/workflows/unit-tests.yml
Due: npm run lint:textdomain, npm run lint:php:fix

chore: reformat code
  src/Addon/Links.php
  src/Domain/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

docs: update docblock
  src/Addon/Links.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: Correct namespace to match file path
  src/Addon/View.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: Remove pot file generation form asset build
  webpack.mix.js
Due: eslint --fix

refactor: set temp setup
  package-lock.json
Due: prettier --write

refactor: update files and add support for tests and ts
  .babelrc.json
  babel.config.js
  composer.json
  composer.lock
  globals.d.ts
  package-lock.json
  package.json
  phpunit.xml
  postcss.config.js
  src/Domain/resources/js/admin/give-addon-admin.js
  src/Domain/resources/js/admin/give-addon-admin.tsx
  tests/Unit/TestSamples.php
  tests/bootstrap.php
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add sample icon and default imageUrl function
  src/Domain/Assets.php
  src/Domain/resources/images/.gitkeep
  src/Domain/resources/images/sampleIcon.svg
  src/Domain/resources/js/utils/helpers.ts
  src/Domain/resources/js/utils/interfaces.ts
Due: npm run lint:textdomain, npm run lint:php:fix

fix: add missing tsconfig file and change file names
  src/Domain/resources/css/admin/ADDON_ID-admin.scss
  src/Domain/resources/css/frontend/ADDON_ID-frontend.scss
  src/Domain/resources/js/admin/ADDON_ID-admin.js
  src/Domain/resources/js/admin/give-addon-admin.tsx
  src/Domain/resources/js/frontend/ADDON_ID.tsx
  src/Domain/resources/js/frontend/give-addon.js
  tsconfig.json
  webpack.mix.js
Due: prettier --write, eslint --fix, stylelint --fix

refactor: use better naming
  composer.json
  src/Domain/Assets.php
  src/Domain/resources/js/utils/helpers.ts
  src/Domain/resources/js/utils/interfaces.ts
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

refactor: move sample test to domain folder
  tests/Unit/Domain/TestSamples.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add sample react app
  src/Domain/resources/js/admin/settings-page-react-app/App.tsx
  src/Domain/resources/js/admin/settings-page-react-app/index.tsx
  src/Domain/resources/js/frontend/ADDON_ID.js
  webpack.mix.js
Due: eslint --fix

feature: add react settings page
  src/Domain/AddonServiceProvider.php
  src/Domain/Assets.php
  src/Domain/SettingsPageApp.php
  src/Domain/resources/js/admin/settings-page-app/App.tsx
  src/Domain/resources/js/admin/settings-page-app/index.tsx
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add components so sample react app
  src/Domain/AddonServiceProvider.php
  src/Domain/Assets.php
  src/Domain/resources/images/CloseIcon.svg
  src/Domain/resources/images/InfoIcon.svg
  src/Domain/resources/images/give-logo.png
  src/Domain/resources/js/admin/ADDON_ID-admin.js
  src/Domain/resources/js/admin/ADDON_ID-admin.ts
  src/Domain/resources/js/admin/settings-page-app/App.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Form/Button.module.scss
  src/Domain/resources/js/admin/settings-page-app/Components/Form/Button.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Form/Form.module.scss
  src/Domain/resources/js/admin/settings-page-app/Components/Form/Form.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Form/PeriodSelector.module.scss
  src/Domain/resources/js/admin/settings-page-app/Components/Form/PeriodSelector.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Icons.module.scss
  src/Domain/resources/js/admin/settings-page-app/Components/Icons.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Modal.module.scss
  src/Domain/resources/js/admin/settings-page-app/Components/Modal.tsx
  src/Domain/resources/js/frontend/ADDON_ID.js
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: better naming
  src/Domain/SettingsPageApp.php
  src/Domain/resources/js/admin/settings-page-app/App.tsx
  src/Domain/resources/js/admin/settings-page-app/index.tsx
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove period selector
  src/Domain/resources/js/admin/settings-page-app/App.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Form/Form.tsx
  src/Domain/resources/js/admin/settings-page-app/Components/Form/PeriodSelector.module.scss
  src/Domain/resources/js/admin/settings-page-app/Components/Form/PeriodSelector.tsx
Due: stylelint --fix

refactor: update react default version
  package-lock.json
  package.json
Due: prettier --write

doc: change comment
  src/Domain/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use createRoot
  build.php
  src/Domain/Assets.php
  src/Domain/SettingsPageApp.php
  src/Domain/resources/js/admin/settings-page-app/index.tsx
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: better naming
  src/Domain/Assets.php
  src/Domain/resources/js/admin/ADDON_ID-admin.ts
  src/Domain/resources/js/admin/settings-page-app/index.tsx
  src/Domain/resources/js/frontend/ADDON_ID.js
  src/Domain/resources/js/utils/helpers.ts
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: include js and ts files to build script
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use ADDON_ID instead ADDON_NAME
  webpack.mix.js
Due: eslint --fix

refactor: rename files
  build.php
  src/Domain/Assets.php
  src/Domain/resources/js/frontend/ADDON_ID-frontend.js
  webpack.mix.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: change page id
  src/Domain/Assets.php
  src/Domain/SettingsPageApp.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: build script missing renames
  build.php
  src/Domain/resources/js/admin/ADDON_ID-admin.ts
  src/Domain/resources/js/frontend/ADDON_ID-frontend.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add git workflows
  .github/workflows/generate-zip.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-translations.yml
  .github/workflows/unit-tests.yml
Due: none

chore: composer update
  composer.lock
Due: none

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.scss
