Repository impress-org/givewp-addon-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix"],
    "*.{js,jsx}": ["eslint --fix"],
    "*.scss": ["stylelint --fix"]
}

doc: add comments about DTO
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayWebhookNotification.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: replace unreleased tags
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayWebhookNotification.php
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
  src/OffSiteGateway/Webhooks/OffSiteGatewaysWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename gateway
  src/OffSiteGateway/Gateway/resources/OffSiteGateway.tsx
  src/OffSiteGateway/Gateway/resources/OffSiteGatewayLogo.tsx
Due: none

doc: add comment about event handler classes
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change messages
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
  src/OffSiteGateway/Webhooks/OffSiteGatewayWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename logo
  src/OffSiteGateway/Gateway/resources/OffSiteGatewayLogo.tsx
Due: none

feature: add refund support
  src/OffSiteGateway/Gateway/OffSiteGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: update comments
  src/OffSiteGateway/Gateway/OffSiteGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: add sample integration for off-site gateways (#66)
  give-addon-boilerplate.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayWebhookNotification.php
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Gateway/resources/OffSiteGateway.tsx
  src/OffSiteGateway/Gateway/resources/OffSiteGatewayLogo.tsx
  src/OffSiteGateway/Gateway/resources/logo.svg
  src/OffSiteGateway/Gateway/resources/styles.scss
  src/OffSiteGateway/Gateway/resources/types.ts
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
  src/OffSiteGateway/Webhooks/OffSiteGatewayWebhookNotificationHandler.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: simplify OffSiteGatewayWebhookNotificationHandler class
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Gateway/OffSiteGatewayWebhookNotificationHandler.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update branch on git workflow temporally
  .github/workflows/unit-tests.yml
Due: none

chore: update composer.lock
  composer.lock
Due: none

chore: rollback givewp branch to develop
  .github/workflows/unit-tests.yml
Due: none

chore: change addon_slug
  .github/workflows/unit-tests.yml
Due: none

chore: rollback addon_slug to ADDON_ID
  .github/workflows/unit-tests.yml
Due: none

chore: replace laravel mix with wp scripts
  README.md
  build.php
  composer.json
  package-lock.json
  package.json
  public/.gitkeep
  src/Domain/Assets.php
  src/Domain/resources/css/admin/admin.scss
  src/Domain/resources/css/frontend/frontend.scss
  src/Domain/resources/js/admin/admin.ts
  src/Domain/resources/js/frontend/frontend.js
  webpack.config.js
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

fix: add frontend
  src/Domain/Assets.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix

refactor: clean up and separate out providers
  build.php
  composer.json
  composer.lock
  give-addon-boilerplate.php
  src/Addon/ServiceProvider.php
  src/Domain/ServiceProvider.php
  src/Domain/resources/css/frontend/frontend.scss
  src/Domain/resources/js/admin/admin.ts
  src/Domain/resources/js/frontend/frontend.js
  src/Domain/resources/js/utils/helpers.ts
  src/Settings/Assets.php
  src/Settings/Helpers/SettingsPage.php
  src/Settings/ServiceProvider.php
  src/Settings/SettingsPage.php
  src/Settings/SettingsPageApp.php
  src/Settings/resources/css/index.scss
  src/Settings/resources/images/CloseIcon.svg
  src/Settings/resources/images/InfoIcon.svg
  src/Settings/resources/images/give-logo.png
  src/Settings/resources/js/App.tsx
  src/Settings/resources/js/components/Form/Button.module.scss
  src/Settings/resources/js/components/Form/Button.tsx
  src/Settings/resources/js/components/Form/Form.module.scss
  src/Settings/resources/js/components/Form/Form.tsx
  src/Settings/resources/js/components/Icons.module.scss
  src/Settings/resources/js/components/Icons.tsx
  src/Settings/resources/js/components/Modal.module.scss
  src/Settings/resources/js/components/Modal.tsx
  src/Settings/resources/js/index.tsx
  src/Settings/resources/js/utils/getWindowData.ts
  src/Settings/resources/js/utils/helpers.ts
  src/Settings/resources/js/utils/interfaces.ts
  src/Settings/resources/views/admin/notices/give-inactive.php
  src/Settings/resources/views/admin/notices/give-version-error.php
  webpack.config.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

refactor: clean up
  src/Domain/ServiceProvider.php
  src/Settings/ServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: imports
  src/Settings/resources/js/components/Icons.tsx
  webpack.config.js
Due: eslint --fix

fix: rename
  build.php
  phpunit.xml
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use new webhook events api
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Gateway/OffSiteGatewayWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: update ADDON_CONSTANT_MIN_GIVE_VERSION to 4.5.0
  give-addon-boilerplate.php
Due: npm run lint:textdomain, npm run lint:php:fix

Refactor: add support to the gateway webhook events API (#67)
  give-addon-boilerplate.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Gateway/OffSiteGatewayWebhookNotificationHandler.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix
