Repository impress-org/givewp-addon-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix"],
    "*.{js,jsx}": ["eslint --fix"],
    "*.scss": ["stylelint --fix"]
}

epic: upgrade boilerplate
  .eslintrc.json
  .gitignore
  README.md
  assets/src/css/admin/give-addon-admin.scss
  assets/src/css/frontend/give-addon-frontend.scss
  assets/src/images/.gitkeep
  assets/src/js/admin/give-addon-admin.js
  assets/src/js/frontend/give-addon.js
  composer.json
  composer.lock
  give-addon-boilerplate.php
  includes/admin/setting-examples.php
  includes/admin/settings.php
  includes/misc-functions.php
  languages/give-addon-boilerplate.pot
  package-lock.json
  package.json
  phpcs.ruleset.xml
  readme.txt
  src/.gitkeep
  webpack.config.js
  wp-textdomain.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

epic: add missing files
  CHANGELOG.md
  build.sh
  src/Addon/Activation.php
  src/Addon/AddonServiceProvider.php
  src/Addon/Assets.php
  src/Addon/Helpers/ActivationBanner.php
  src/Addon/Helpers/Environment.php
  src/Addon/Helpers/Language.php
  src/Addon/Helpers/License.php
  src/Addon/Helpers/Notices.php
  src/Addon/Helpers/SettingsPage.php
  src/Addon/Helpers/View.php
  src/Addon/SettingsPage.php
  src/Addon/resources/css/admin/give-addon-admin.scss
  src/Addon/resources/css/frontend/give-addon-frontend.scss
  src/Addon/resources/images/.gitkeep
  src/Addon/resources/js/admin/give-addon-admin.js
  src/Addon/resources/js/frontend/give-addon.js
  src/Addon/resources/views/admin/notices/give-inactive.php
  src/Addon/resources/views/admin/notices/give-version-error.php
  src/Addon/resources/views/public/.gitkeep
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

chore: include missing directories
  languages/.gitkeep
  public/.gitkeep
Due: none

refactor: temporary remove public directory
  .gitignore
Due: none

refactor: re-add public directory
  .gitignore
Due: none

chore: ignore assets/dist
  .gitignore
Due: none

chore: update packages list
  package-lock.json
  package.json
Due: prettier --write

chore: remove prettier from eslint
  .eslintrc.json
Due: prettier --write

format: improve code formatting
  webpack.config.js
Due: eslint --fix

refactor: remove explicit return value
  src/Addon/Helpers/Environment.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove extra newline
  src/Addon/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: type
  give-addon-boilerplate.php
  src/Addon/Helpers/Environment.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add missing DocBlock tags
  src/Addon/Activation.php
  src/Addon/AddonServiceProvider.php
  src/Addon/Assets.php
  src/Addon/Helpers/ActivationBanner.php
  src/Addon/Helpers/Environment.php
  src/Addon/Helpers/Language.php
  src/Addon/Helpers/License.php
  src/Addon/Helpers/Notices.php
  src/Addon/Helpers/SettingsPage.php
  src/Addon/Helpers/View.php
  src/Addon/SettingsPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: incorrect hook name
  src/Addon/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: uncomment the example code
  src/Addon/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: load add-on language
  src/Addon/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: typo
  src/Addon/Helpers/SettingsPage.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add-on activation hooks
  src/Addon/Activation.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: remove unnecessary file
  postcss.config.js
Due: eslint --fix

Revert "chore: remove unnecessary file"
  postcss.config.js
Due: eslint --fix

chore: switch to using Laravel Mix
  .babelrc.json
  .editorconfig
  package-lock.json
  package.json
  webpack.config.js
  webpack.mix.js
Due: prettier --write, eslint --fix

fix: throwing an error when echo parameter is set to true
  src/Addon/Helpers/View.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: use glob to get all php files instead of using a fixed list
  build.sh
Due: none

refactor: use add-on id tag
  composer.json
  package.json
  src/Addon/Assets.php
  src/Addon/Helpers/Notices.php
  src/Addon/SettingsPage.php
  webpack.mix.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

fix: use text domain tag
  src/Addon/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add add-on id
  build.sh
Due: none

feature: rename add-on base file
  build.sh
Due: none

refactor: remove unused dir
  phpcs.ruleset.xml
Due: none

refactor: add phpcs.ruleset.xml to the files list
  build.sh
Due: none

refactor: make text_domain property value dynamic
  phpcs.ruleset.xml
Due: none

chore: rename file
  .phpcs.xml
Due: none

chore: rul linters only for resource directory
  package.json
Due: prettier --write

chore: print coding style errors if any
  .lintstagedrc.json
Due: prettier --write

fix: ignore WP coding rules in src directory
  .phpcs.xml
Due: none

format: improve code formatting
  src/Addon/Activation.php
  src/Addon/AddonServiceProvider.php
  src/Addon/Helpers/Language.php
  src/Addon/Helpers/View.php
  src/Addon/resources/views/admin/notices/give-version-error.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: move activation hooks to the base file
  give-addon-boilerplate.php
  src/Addon/Activation.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: remove action
  src/Addon/AddonServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: use ADDON_CONSTANT_VERSION instead of GIVE_VERSION
  src/Addon/Assets.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: move plugin code to separate directory and namespace
  composer.json
  composer.lock
  give-addon-boilerplate.php
  src-addon/Activation.php
  src-addon/ActivationBanner.php
  src-addon/Environment.php
  src-addon/Language.php
  src-addon/License.php
  src-addon/Notices.php
  src-addon/View.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

refactor: change namespace to use Give\
  src/Addon/AddonServiceProvider.php
  src/Addon/Assets.php
  src/Addon/Helpers/SettingsPage.php
  src/Addon/SettingsPage.php
Due: npm run lint:textdomain, npm run lint:php:fix
