Repository impress-org/givewp-addon-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*.json": ["prettier --write"],
    "*.php": ["npm run lint:textdomain", "npm run lint:php:fix"],
    "*.{js,jsx}": ["eslint --fix"],
    "*.scss": ["stylelint --fix"]
}

refactor: update tests autoload and namespace
  composer.json
  composer.lock
  tests/Unit/Domain/TestSamples.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

refactor: use ADDON_ID on workflows
  .github/workflows/generate-zip.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-translations.yml
  .github/workflows/unit-tests.yml
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: change comment
  webpack.mix.js
Due: eslint --fix

feature: add initial support to form builder
  package-lock.json
  package.json
  src/FormExtension/FormBuilder/Actions/LoadFormBuilderAssets.php
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/css/index.scss
  src/FormExtension/FormBuilder/resources/js/index.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveCore.ts
  src/FormExtension/FormBuilder/resources/js/types/GiveAddonSettings.ts
  src/FormExtension/FormExtensionServiceProvider.php
  webpack.config.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add sample block
  .gitignore
  babel.config.js
  give-addon-boilerplate.php
  package-lock.json
  src/FormExtension/FormBuilder/Actions/LoadFormBuilderAssets.php
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Edit.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Icon.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/index.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/metadata.ts
  src/FormExtension/FormBuilder/resources/js/index.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
  src/FormExtension/FormBuilder/resources/js/types/GiveAddonSettings.ts
  src/FormExtension/FormBuilder/resources/js/types/colorProps.ts
  src/FormExtension/FormBuilder/resources/js/window.ts
  src/FormExtension/FormExtensionServiceProvider.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix

feature: add ConvertDonationFormBlocksToFieldsApi class
  src/FormExtension/DonationForm/Actions/ConvertDonationFormBlocksToFieldsApi.php
  src/FormExtension/DonationForm/ValueObjects/ColorField.php
  src/FormExtension/FormExtensionServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add add-on settings in the form builder interface
  globals.d.ts
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/js/index.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
  src/FormExtension/FormBuilder/resources/js/settings/index.tsx
  src/FormExtension/FormBuilder/resources/js/types/GiveAddonSettingsProps.ts
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add sample options to the add-on settings page
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/js/components/CopyToClipboardButton.tsx
  src/FormExtension/FormBuilder/resources/js/components/ImageUpload.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
  src/FormExtension/FormBuilder/resources/js/settings/CustomSettings/index.tsx
  src/FormExtension/FormBuilder/resources/js/settings/index.tsx
  src/FormExtension/FormBuilder/resources/js/types/CustomSettingsProps.ts
  src/FormExtension/FormBuilder/resources/js/types/GiveAddonSettingsProps.ts
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename color option type
  src/FormExtension/FormBuilder/resources/js/types/ColorOptionProps.ts
Due: none

refactor: rename color option type
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Edit.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
Due: none

chore: update yoast polyfills
  composer.json
  composer.lock
Due: prettier --write

doc: update unreleased tags
  src/FormExtension/DonationForm/Actions/ConvertDonationFormBlocksToFieldsApi.php
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Edit.tsx
  src/FormExtension/FormBuilder/resources/js/types/ColorOptionProps.ts
  src/FormExtension/FormBuilder/resources/js/window.ts
  src/FormExtension/FormExtensionServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

chore: add comments related to the compiled assets files
  src/FormExtension/FormBuilder/Actions/LoadFormBuilderAssets.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add notice about limitations related to the form settings extension
  package-lock.json
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/js/index.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
  src/FormExtension/FormBuilder/resources/js/settings/CustomSettings/index.tsx
  src/FormExtension/FormBuilder/resources/js/settings/index.tsx
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix

refactor: change sample block icon
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/index.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/metadata.ts
Due: none

refactor: replace strings
  src/FormExtension/FormBuilder/Actions/LoadFormBuilderAssets.php
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/css/index.scss
  src/FormExtension/FormBuilder/resources/css/styles/_components.scss
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Edit.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/metadata.ts
  src/FormExtension/FormBuilder/resources/js/components/CopyToClipboardButton.tsx
  src/FormExtension/FormBuilder/resources/js/components/ImageUpload.tsx
  src/FormExtension/FormBuilder/resources/js/settings/CustomSettings/index.tsx
  src/FormExtension/FormBuilder/resources/js/settings/index.tsx
Due: npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: replace give-addon with ADDON_TEXTDOMAIN
  package-lock.json
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/css/styles/_components.scss
  src/FormExtension/FormBuilder/resources/js/components/CopyToClipboardButton.tsx
  src/FormExtension/FormBuilder/resources/js/components/ImageUpload.tsx
  src/FormExtension/FormBuilder/resources/js/index.tsx
  src/FormExtension/FormBuilder/resources/js/settings/CustomSettings/index.tsx
  tests/Unit/Colors/TestSamples.php
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, stylelint --fix

refactor: remove test folder
  tests/Unit/Colors/TestSamples.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: rename new files using namespace
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: wrong paths
  build.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: rename and remove old strings
  .gitignore
  src/FormExtension/FormBuilder/resources/js/types/GiveAddonSettingsProps.ts
Due: none

doc: update Asset Compilation section
  README.md
Due: none

chore: ignore full language folder
  .gitignore
Due: none

chore: update form builder library
  package-lock.json
  package.json
Due: prettier --write

doc: fix tag name
  src/FormExtension/FormExtensionServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

Feature: add support to the Visual Form Builder (#65)
  .gitignore
  README.md
  babel.config.js
  build.php
  composer.json
  composer.lock
  give-addon-boilerplate.php
  globals.d.ts
  package-lock.json
  package.json
  src/FormExtension/DonationForm/Actions/ConvertDonationFormBlocksToFieldsApi.php
  src/FormExtension/DonationForm/ValueObjects/ColorField.php
  src/FormExtension/FormBuilder/Actions/LoadFormBuilderAssets.php
  src/FormExtension/FormBuilder/ViewModels/GiveAddonViewModel.php
  src/FormExtension/FormBuilder/resources/css/index.scss
  src/FormExtension/FormBuilder/resources/css/styles/_components.scss
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Edit.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/Icon.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/index.tsx
  src/FormExtension/FormBuilder/resources/js/Blocks/ColorsSampleBlock/metadata.ts
  src/FormExtension/FormBuilder/resources/js/components/CopyToClipboardButton.tsx
  src/FormExtension/FormBuilder/resources/js/components/ImageUpload.tsx
  src/FormExtension/FormBuilder/resources/js/index.tsx
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveAddonFormBuilder.ts
  src/FormExtension/FormBuilder/resources/js/interfaces/IGiveCore.ts
  src/FormExtension/FormBuilder/resources/js/settings/CustomSettings/index.tsx
  src/FormExtension/FormBuilder/resources/js/settings/index.tsx
  src/FormExtension/FormBuilder/resources/js/types/ColorOptionProps.ts
  src/FormExtension/FormBuilder/resources/js/types/CustomSettingsProps.ts
  src/FormExtension/FormBuilder/resources/js/types/GiveAddonSettingsProps.ts
  src/FormExtension/FormBuilder/resources/js/window.ts
  src/FormExtension/FormExtensionServiceProvider.php
  webpack.config.js
Due: prettier --write, npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add initial classes for an off-site gateway sample
  give-addon-boilerplate.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayWebhookNotification.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

wip
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Gateway/OffSiteSimulation.php
  src/OffSiteGateway/Gateway/resources/OffSiteGateway.tsx
  src/OffSiteGateway/Gateway/resources/OffSiteGatewayLogo.tsx
  src/OffSiteGateway/Gateway/resources/logo.svg
  src/OffSiteGateway/Gateway/resources/styles.scss
  src/OffSiteGateway/Gateway/resources/types.ts
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
  webpack.config.js
Due: npm run lint:textdomain, npm run lint:php:fix, eslint --fix, stylelint --fix

feature: add off-site gateway simulation page
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Gateway/OffSiteSimulation.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change file name and add comments
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add description parameter
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

doc: add comments
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add webhook notification logic
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayPayment.php
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayWebhookNotification.php
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
  src/OffSiteGateway/Webhooks/OffSiteGatewaysWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change OffSiteGatewayWebhookNotification properties
  src/OffSiteGateway/DataTransferObjects/OffSiteGatewayWebhookNotification.php
  src/OffSiteGateway/Webhooks/OffSiteGatewaysWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

fix: property name
  src/OffSiteGateway/Webhooks/OffSiteGatewaysWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

feature: add webhook sample logic
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
  src/OffSiteGateway/Gateway/OffSiteGateway.php
  src/OffSiteGateway/Webhooks/OffSiteGatewaysWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change async job search parameter
  src/OffSiteGateway/Webhooks/OffSiteGatewaysWebhookNotificationHandler.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: change hook name
  src/OffSiteGateway/OffSiteGatewayServiceProvider.php
Due: npm run lint:textdomain, npm run lint:php:fix

refactor: add rel attribute
  src/OffSiteGateway/Gateway/OffSiteCheckoutPageSimulation.php
Due: npm run lint:textdomain, npm run lint:php:fix
